.wmsTagBody {
  display: grid;
  grid-template-columns: 1.4fr 0.6fr;
}

.wmsTagHeader {
  height: 60px;
  margin-top: 16px;
}

.wmsTagBody {
  padding-left: 6%;
}

.wmsTagBody b {
  font-size: 1rem;
}

.wmsTagBody p {
  height: 30px;
  margin: 0;
}

p {
  margin: 0;
}

.operations {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 2%;
}

.wmsTagBarCode {
  margin-left: 25%;
}

.wmsTags {
  width: 100%;
  position: relative;
  /*para alinhar os span no centro*/
}

.wmsTags span {
  position: relative;
  min-width: 100%;
  max-height: 100%;
  border: 1px solid black;
  /* para os spans pegarem o width */
  display: inline-block;
}

.operations p {
  margin: 6px;
}

@media screen and (min-width: 500px) {
  .wmsTags span {
    min-width: 33.33%;
  }
}