.wmsTagBody {
  display: grid;
  grid-template-columns: 1.2fr 0.8fr;
}

/* .firstColum h4 {
  margin-top: -10%;
} */

.wmsTags span {
  max-width: 335px;
}

.wmsTags {
  display: grid;
  grid-template-columns: 1fr;
  margin: 2%;
}

.wmsTagBody {
  padding: 6%;
}

.wmsTagBody b {
  font-size: 1rem;
}

.operations {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 2%;
}

.wmsTagBarCode {
  margin-left: 25%;
}