.blue {
    background-color: #70b3e9;
    color: rgb(19, 19, 19);
    font-weight: bold;
    border-radius: 30px;
}

.red {
    background-color: #e97070;
    color: rgb(19, 19, 19);
    font-weight: bold;
}

.yellow {
    background-color: #dcca3e;
    color: rgb(19, 19, 19);
    font-weight: bold;
}

/* #97CC04 #dcca3e */

/* thead[class*="ant-table-thead"] th {
    background-color: #161b22;
    color: rgb(248, 248, 248);
}

section {
    background: #161b22 !important;
}

header {
    background: #12161b !important;
    color: rgb(248, 248, 248) !important;
} */