.blue {
  background-color: #70b3e9;
  color: rgb(19, 19, 19);
  font-weight: bold;
  border-radius: 30px;
}

.red {
  background-color: #e97070;
  color: rgb(19, 19, 19);
  font-weight: bold;
}

.yellow {
  background-color: #dcca3e;
  color: rgb(19, 19, 19);
  font-weight: bold;
}

.pink {
  background: #e97070;
}

.black {
  background: #000;
  color: #fff
}

.green {
  background: #97cc04;
}