.amountTag {
    width: 100%;
    position: relative;
    /*para alinhar os span no centro*/
}

.amountTag span {
    position: relative;
    border: 1px solid darkgray;
    /* para os spans pegarem o width */
    display: inline-block;
}

span {
    max-width: 396px;
}

.text {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 30px;
}

.platingAmount {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 30px;
    text-align: center;
}

.platingUser {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}

.tag-one {
    display: grid;
    grid-template-rows: 30px 20px 100px;
    grid-template-columns: 170px 170px;
    /* grid-template-areas: 'title title '; */
}

.mountTitles {
    /* align-items: center; */
    margin: 0;
    text-align: center;
    display: grid;
    font-size: 13px;
    grid-template-columns: 1fr;
}

.mountSectorBarCode {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* display: flex; */
}

.mountSectorName {
    /* margin-left: 35%; */
    /* margin: 0; */
    text-align: center;
    font-size: 14px;
}

.barCode {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}