.call-list-buttons {
    display: grid;
    grid-template-columns: 20% 80%;
    margin: 0;
    align-items: center;
    font-size: 1.3em;
}

.call-list-buttons input {
    max-width: 50%;
    background-color: #5cb85c;
}

input[type='file'] {
    display: none
}

.input-file {
    background-color: #1890FE;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    text-align: center;
    margin-right: 0;
    height: 46px;
    justify-content: center;
    align-items: center;
    padding-top: 2%;
}

.btn-enviar {
    background-color: #5cb85c;
    width: 30%;
    color: #fff;
    font-weight: bold;
    padding: 23px;
    margin-left: 10px;
    border: none;
    border-radius: 5px;
    text-align: center;
    display: flex;
   justify-content: center;
   align-items: center;
}

.btn-iniciar-chamada{
    background-color: #5cb85c;
    width: 30%;
    color: #fff;
    font-weight: bold;
    padding: 23px;
    margin-left: 10px;
    border: none;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-file {
    width: 80%;
    justify-self: end;
}

/* .callListButtons{
    display: flex;
    justify-content: center;
    align-items: center;
} */

.presenceButton {
    background-color: #5cb85c;
    color: #fff;
    font-weight: bold;
    margin-left: 10px;
    border: none;
    border-radius: 3px;
    width: 100%;
}

.absenceButton {
    font-weight: bold;
    margin-left: 10px;
    border: none;
    border-radius: 3px;
    width: 97.5%;
}



@media screen and (max-width: 767px) {
  .departament {
   width: 100%;
   
  }
  .btn-iniciar-chamada {
    background-color: #5cb85c;
    width: 70%;
    height: 35%;
    margin-top: 60%;
    margin-left: 0%;
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 5px;
  }
  .input-file {
      display: none;
  }
  .btn-enviar{
      display: none;
  }

}
