.call-list-buttons {
    display: grid;
    grid-template-columns: 40% 60%;
    margin: 0;
    align-items: center;
    font-size: 1.5em;
}

.call-list-buttons input {
    max-width: 50%;
    background-color: #5cb85c;
}

@media screen and (max-width: 650px) {
    .call-list-buttons {
        font-size: 1.3rem;
        grid-template-columns: 100%;
    }
    .call-list-buttons input {
        max-width: 100%;
    }
}

input[type='file'] {
    display: none
}

.input-file {
    background-color: #1890FE;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    text-align: center;
    margin-right: 0;
    height: 46px;
    justify-content: center;
    align-items: center;
    padding-top: 2%;
}

.btn-enviar {
    background-color: #5cb85c;
    width: 30%;
    color: #fff;
    font-weight: bold;
    padding: 14px;
    margin-left: 10px;
    border: none;
    border-radius: 5px;
}

.input-file {
    width: 80%;
    justify-self: end;
}

/* .callListButtons{
    display: flex;
    justify-content: center;
    align-items: center;
} */

.presenceButton {
    background-color: #5cb85c;
    color: #fff;
    font-weight: bold;
    margin-left: 10px;
    border: none;
    border-radius: 3px;
    width: 100%;
}

.presenceButton:hover {
    background-color: #499b49;
    color: #fff;
}

.absenceButton:hover {
    background-color: #cc3204;
    color: #fff;
}

.absenceButton {
    background-color: #f3410b;
    color: #fff;
    font-weight: bold;
    margin-left: 10px;
    border: none;
    border-radius: 3px;
    width: 97.5%;
}

.notPassThePointButton{
    background-color: #4070af;
    color: #fff;
    font-weight: bold;
    margin-top: 10px;
    margin-left: 10px;
    border: none;
    border-radius: 3px;
    width: 100%;
}

.notPassThePointButton:hover{
    background-color: #527eb8;
    color: #fff;
    
}